{% extends 'base.html' %}

{% block title %}Поиск пользователей{% endblock %}

{% block content %}
<div id="search-user-content">
    <h6 onclick="goBack()" style="cursor: pointer;">← Назад</h6>
    <h2>Результаты поиска</h2>
    {% if users %}
        {% for user in users %}
        <div class="search-user-card">
            <a href="/profile/{{ user.id }}"><img src="/media/{{ user.avatar }}"></a>
            <h4>{{ user.name }}</h4>
        </div>
        {% endfor %}
    {% else %}
    <h4>Никого не найдено</h4>
    {% endif %}
</div>
<script>
    function goBack() {
    if (document.referrer && document.referrer !== window.location.href) {
        window.history.back();
    } else {
        window.location.href = "/";
    }
}
</script>
{% endblock %}